<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eShop</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://kit.fontawesome.com/04922efd3c.js" crossorigin="anonymous"></script>
    <script src="script.js"></script>
</head>

<body>
    <div id="root">
        <div class="wrapper center">
            <div class="top">
                <header class="header center__content">
                    <a href="#" class="logo">eShop</a>
                    <div class="header__right">
                        <div class="search">
                            <input type="text" class="goods-search" placeholder="Поиск..." v-model="searchValue">
                        </div>

                        <button class="button cart-button" type="button" @click="cartVisibleToggle">Корзина</button>
                    </div>
                </header>
                <main>
                    <div v-if="isVisibleCart" class="cart-window center__content">
                        <i class="fa-solid fa-xmark close-icon" @click="cartVisibleToggle"></i>
                        <div class="cart-list ">

                            <div class="goods-item">
                                <img src="img/product.jpg" alt="photo">
                                <h3>Название товара</h3>
                                <p>$Цена</p>
                            </div>
                        </div>
                    </div>
                    <div class="goods-list center__content">
                        <h3 v-if="whileItemsEmpty">Нет данных</h3>
                        <div class="goods-item" v-for="item in filteredItems">
                            <img src="https://picsum.photos/200" alt="photo">
                            <h3>{{item.product_name}}</h3>
                            <p>${{item.price}}</p>
                        </div>
                    </div>
                    <div class='sumPrice center_content'>Сумма: ${{calculatePrice}}</div>
                </main>
            </div>
            <footer class="footer"></footer>
        </div>

    </div>
</body>

</html>